# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
build/
dist/
*.egg-info/
backend/ml/readiness_model.pkl

# Node / Frontend
node_modules/
frontend/dist/
.eslintcache

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
